.Calendar {
    font-family: Verdana;
    font-size: 9pt;
    background-color: #eee8dc;;
    text-align: center;
    padding: 10px 20px;
    line-height: 1.5em;
	border: 1px solid #c6c1b7;
	width: 230px;
}

.Calendar a {
    color: #0066CC;
}

.Calendar .date-tit {
	font-weight: bold;
	color: #896619;
	line-height: 18px;
}

.Calendar table {
    width: 100%;
    border: 0 none;
	border-collapse: separate;
	table-layout: fixed;
}

.Calendar table thead td {
    color: #acacac;
	font-size: 9px;
}

.Calendar table td {
    font-size: 11px;
    padding: 2px 4px;
	border: 1px solid #c6c1b7;
	background: #fff;
	font-weight: bold;
	color: #ab3f62;
	margin: 2px;
}

.Calendar .calendar-title {
}

#idCalendarPre {
    cursor: pointer;
    padding-right: 5px;
}

#idCalendarNext {
    cursor: pointer;
    padding-right: 5px;
}

#idCalendar td.onSelect {
    font-weight: bold;
	background-color: #eee;
}

#idCalendar td.onEvent {
    font-weight: bold;
	background-color: #cef766;
}

#idCalendar td.onToday {
    font-weight: bold;
    color: #C60;
	background-color: #f9e1e1;
}

