/* CSS Document */
@
utf-8
* {
/* 	word-wrap: break-word; */
}

body {
	
/* 	padding: 0; */
	text-align: center;
	font-family: "ו";
	font-size: 12px;
	background-color: white;
}

#container {margin: 0 auto;

/*   top:24px; */

	width: 1000px;
	min-width: 1000px;
/* 	height:100px; */
/*   background: url(../images/bg_head.png) center 30px no-repeat; */
  background: url(../images/my/bg.jpg) center -25px no-repeat;
	background-color: white;
	overflow: hidden;
	text-align: left;
}




h1,h2,h3,h4,h5,h6,dd,dt,ul,li,span,p,dl,a,th,td,blockquote,form,fieldse
	{
	margin: 0;
	padding: 0;
	list-style: none;
}

dt,li {
	overflow: hidden;
	clear: both;
}

dd {
	float: left;
	display: inline;
}

dt.clear,li.clear,.clear {
	clear: both;
	font-size: 0;
	height: 0;
	overflow: hidden;
}

dt.clear,li.clear {
	height: 0;
	font-size: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

u,i {
	font-style: normal;
	text-decoration: none;
}

fieldset {
	border: 0;
}

address,caption,cite,code,dfn,em,th,var {
	font-weight: normal;
	font-style: normal;
}

abbr,acronym {
	border: 0;
}

caption,th {
	text-align: left;
}

img {
	border: 0;
}

div.logo{
	width:100%;
	height:175px;
	background: url(../images/my/1262918757.gif)  no-repeat;
	background-position: 405px 40px
}
div#bottom{
	margin:0 auto;
	background: url(../images/my/bottom.gif)  no-repeat;
}