/* CSS Document */
@
utf-8
* {
	word-wrap: break-word;
}

body {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: "ËÎÌå";
	font-size: 12px;
	background-color: gray;
}

#container {
	width: 100%;
	min-width: 1000px;
/*   background: url(../images/bg_head.png) center 30px no-repeat; */
  background: url(../images/my/bg_head.png) center 30px no-repeat;
	background-color: white;
	overflow: hidden;
	text-align: left;
}

h1,h2,h3,h4,h5,h6,dd,dt,ul,li,span,p,dl,a,th,td,blockquote,form,fieldse
	{
	margin: 0;
	padding: 0;
	list-style: none;
}

dt,li {
	overflow: hidden;
	clear: both;
}

dd {
	float: left;
	display: inline;
}

dt.clear,li.clear,.clear {
	clear: both;
	font-size: 0;
	height: 0;
	overflow: hidden;
}

dt.clear,li.clear {
	height: 0;
	font-size: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

u,i {
	font-style: normal;
	text-decoration: none;
}

fieldset {
	border: 0;
}

address,caption,cite,code,dfn,em,th,var {
	font-weight: normal;
	font-style: normal;
}

abbr,acronym {
	border: 0;
}

caption,th {
	text-align: left;
}

img {
	border: 0;
}

/*----------hack--------------*/
/*
1.    firfox opera
2.  * ie7 ie6
3.  _ ie6
4.  class {#   } safariÖ§#                     
5.  ×¢*/

/*\*/ /*/class/**/

/*×¢ IE8 beta1 hack*/

/**/